<h2>Cr&eacute;ez un nouveau forum</h2>

<% form_for(@forum) do |f| -%>
  <%= f.error_messages :header_message => "Le formulaire n'a pas &eacute;t&eacute; correctement rempli", :message => "" -%>
  <p>
    <%= f.label :name -%><br />
    <%= f.text_field :name -%>
  </p>
  <p>
    <%= f.label :description -%><br />
    <%= f.text_area :description -%>
  </p>
  <p>
    <%= f.submit 'Cr&eacute;er' -%>
  </p>
<% end -%>